

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.all {
  display: flex;
}

.info {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  width: 40%;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

legend {
  text-align: center;
}