:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.all {
  display: flex;
  padding: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 30px;
  gap: 30px;
}

legend {
  text-align: center;
}

fieldset {
  
}

.icon {
  border-radius: 50%;
  width: 125px;
  height: 125px;
}

.main-content{
  padding: 30px;
  display: flex;
}

.card {
  background-color: #5e2525c1;
  padding: 30px;
  text-align: center;
}

.resume {
  padding: 30px;
  background-color: #25385ec1
}