:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.all {
  display: flex;
  padding: 20px;
  gap: 30px;
}

.info {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 30px;
  gap: 30px;
  background-color: #5b594ec1; 
  box-shadow: 3px 3px rgba(0, 0, 0, 0.4) ;
  
}

input {
  margin: 5px
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  align-self: center;
}

legend {
  text-align: center;
  font-weight: bold;
}

input{
  margin-bottom: 5px;
}

.icon {
  border-radius: 50%;
  width: 125px;
  height: 125px;
}

.main-content{
  display: flex;
  width: 60%;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.4);

}

.card {
  flex: 1;
  background-color: #595645c1; 
  padding: 30px;
  text-align: center;
}

.resume {
  flex:1 ;
  padding: 30px;
  background-color: #5b594ec1; 
}

.resume > div {
  margin: 0 5px;
  display: flex;
  justify-content: space-between;
}